@import 'reset';
@import 'common';
@import 'public';

$listColor:#000;
$listFontSize:12px;

body{
	color:$listColor;
	font-size:$listFontSize;
}
a{
	color:$listColor;
}

//hover效果做不出来
.select .selectes{
	position:relative;
}
//更改公共样式中的hover，重置
//主体部分
.select_all{
	display:none;
	font-size:14px;
	position:absolute;
	left:75px;
	background-color:#fff;
	z-index:1;
	a{
		color:#999;
	}
}

//搜索框
.list_title{
	margin:15px 0;
	p{
		position:relative;
		a{
			color:$listColor;
		}
		span{
			padding:0 4px;
		}
		input{
			width:132px;
			height:25px;
			margin-left:12px;
			padding-left:4px;
			border:1px solid #ccc;
		}
		em{
			display:inline-block;
			background:url(img/Veo_mbshop_spirit_pic.png) no-repeat 0 -372px;
			width:18px;
			height:18px;
			position:absolute;
			top:5px;
			left:241px;
		}
	}
}


//分类
.classify{
	//左边
	.classify_left{
		width:180px;
		p{
			font-size:14px;
			font-weight:bold;
			padding-bottom:10px;
			border-bottom:1px solid #000;

		}
		.add{
			& ul{
				display:none;
			}
			a:hover{
				border-bottom:1px solid #000;
			}
			li{
				position:relative;
				padding-left:16px;
				padding-top:10px;
				
				.add1{
					a{
						color:#a5a5c2;
						&:hover{
							color:#000;
						}
					}
					em{
						background:url(img/Veo_mbshop_spirit_pic.png) no-repeat -25px -93px;
					}
				}
				em{
					display:block;
					background:url(img/Veo_mbshop_spirit_pic.png) no-repeat -10px -93px;
					width:4px;
					height:7px;
					position:absolute;
					left:3px;
					top:14px;
				}
			}
		}
	}

	//右边
	.classify_right{
		width:980px;
		margin-left:38px;
		.classifyTop{
			height:35px;
			line-height:35px;
			background-color:#f7f7f7;
			border:1px solid #ccc;
			span{
				color:#ddd;
				&:first-child{
					color:#000;
				}
			}
			.classifyTitle{
				a{
					padding:10px;	
				}
				span{
					padding:14px;
				}
			}
			.classifies{
				border:1px solid #ccc;
				border-top:none;
				ul{
					li{
						span{
							padding:10px;
						}
						a{
							padding-right:22px;
							&.more{
								position:relative;
							}
							em{
								display:block;
								width:12px;
								height:5px;
								position:absolute;
								left:34px;
								top:7px;
								&.more1{
									background:url(img/Veo_mbshop_spirit_pic.png) no-repeat 0 -260px;
								}
								&.more2{
									display:none;
									background:url(img/Veo_mbshop_spirit_pic.png) no-repeat 0 -235px;
								}
							}
						}
						.morePinpai{
							margin-left:74px;
							line-height:25px;
							display:none;
							a{
								float:left;
							}
						}
						input{
							width:45px;
							text-align:center;
							&.firstPrice{
								margin-left:15px;
							}
							&.confirm{
								cursor:pointer;
							}
						}
						span.center{
							margin:-10px;
						}
						&.gaoji{
							padding-left:10px;
							margin-bottom:5px;
							span{
								padding:0;
							}
							.gaojiAll{
								margin-top:5px;
								position:relative;
								div{
									float:left;
									width:69px;
									height:24px;
									border:1px solid #b5b5b5;
									border-radius:6px;
									line-height:24px;
									position:relative;
									padding-left:25px;
									margin:0 10px;
									cursor:pointer;
									//box-shadow:0 0 4px rgba(0,0,0,0.05);
									em{
										display:block;
										background:url(img/Veo_mbshop_spirit_pic.png) no-repeat 0 -76px;
										width:8px;
										height:5px;
										position:absolute;
										left:75px;
										top:10px;
									}
									span{
										display:none;
										content:'';
										background-color:#fff;
										display:block;
										width:93px;
										height:2px;
										position:absolute;
										top:20px;
										left:0px;
										z-index:1;
									}
								}
								.places{
									display:none;
									position:absolute;
									top:22px;
									left:-60px;
									width:957px;
									border:1px solid #ddd;
									padding:10px;
									background-color:#fff;
									box-shadow:0 0 4px rgba(0,0,0,0.05);
									li{
										float:left;
										a{
											display:block;
											width:90px;
											height:23px;
											line-height:23px;
											text-align:center;
											padding-right:0;
										}
										&:hover{
											background-color:#f0f0f0;
										}
										&:last-child{
											position:absolute;
											right:10px;
											bottom:10px;
										}
									}
								}
							}
						}
					}
				}
			}
			.find{
				span{
					color:#f00;
					font-weight:bold;
				}
			}
			.picTitle{
				height:34px;
				line-height:34px;
				.moren{
					li{
						float:left;
						padding:0 26px;
						background-color:#f0f0f0;
						margin-right:2px;
						position:relative;
						em{
							display:block;
							background:url(img/Veo_mbshop_spirit_pic.png) no-repeat 0 -115px;
							width:7px;
							height:11px;
							position:absolute;
							left:85px;
							top:12px;
						}
						&.active{
							background-color:#f8584f;
							a{
								color:#fff;
								em{
									display:block;
									background:url(img/white.png) no-repeat 0 -14px;
									width:7px;
									height:12px;
									left:60px;
								}
							}
						}
						&:hover{
							background-color:#ff7a72;
							a{
								color:#fff;
								em{
									background:url(img/white.png) no-repeat 0 -14px;
								}
							}
						}	
					}
				}
				.title_right{
					background-color:#f0f0f0;
					width:384px;
					padding-left:180px;
					p{
						a{
							margin:8px;
						}
						input{
							margin:4px;
							text-align:vertical;
						}
					}
				}
			}

			//ajax请求
			.pic{
				.picList{
					.data{
						float:left;
						width:230px;
						float:left;
						padding:14px 14px 0 0;
						font-size:14px;
						.bigImg{
							position:relative;
							img{
								width:230px;
								height:316px;
							}
							span.active{
								position:absolute;
								top:-5px;
								display:block;
								width:230px;
								height:20px;
								line-height:20px;
								text-align:center;
								background-color:#d31b19;
								color:#fff;
							}
						}	
						p{
							line-height:22px;
							&.smallPic{
								margin-top:5px;
								img{
									width:34px;
									height:31px;
								}
							}
							span._discount{
								padding:0.01px 2px;
								background-color:#fdedec;
								border:1px solid #f8584f;
								color:#f8584f;
							}
							span.price{
								margin-left:5px;
								color:#000;
								text-decoration:line-through;
							}
						}
						
					}
				}
			}
		}
	}
}