@charset "UTF-8";
body, h1, h2, h3, h4, h5, h6, p, dl, dd, ul, ol, pre, form, input, textarea, th, td, select { margin: 0; padding: 0; }

em, i { font-style: normal; }

li { list-style: none; }

a { text-decoration: none; color: #999; }

img { border: none; }

table { border-collapse: collapse; }

textarea { resize: none; overflow: hidden; }

body { font-family: '微软雅黑'; font-size: 14px; color: #999; }

.wrapper { width: 1200px; margin: 0 auto; }

.clear { zoom: 1; }

.clear::after { content: ''; display: block; clear: both; }

.left { float: left; }

.right { float: right; }

/*首页与详情页相同的头部*/
.top { height: 33px; border-bottom: 1px solid #ddd; line-height: 33px; }

.top p { font-size: 12px; }

.top .firstMenu > li { float: left; padding: 0 14px; position: relative; font-size: 12px; }

.top .firstMenu > li .secondMenu { display: none; background-color: #fff; position: absolute; top: 25px; left: -1px; border: 1px solid #ddd; border-bottom: none; width: 100px; box-shadow: 0 0 4px #ddd; }

.top .firstMenu > li .secondMenu.app, .top .firstMenu > li .secondMenu.weixin { border: none; top: 18px; left: -2px; background-color: #fff; z-index: 111; }

.top .firstMenu > li .secondMenu.weixin { border: none; top: 18px; left: -72px; }

.top .firstMenu > li .secondMenu li { line-height: 1.8em; }

.top .firstMenu > li .secondMenu li a { color: #000; padding: 4px 0 0 4px; display: inline-block; }

.top .firstMenu > li .secondMenu li img { width: 140px; height: 140px; }

.top .firstMenu .fm { position: relative; border: 1px solid #fff; border-top: none; border-bottom: none; background-color: #fff; }

.top .firstMenu .fm em { background: url(img/Veo_mbshop_spirit_pic.png) no-repeat 0 -50px; display: block; width: 7px; height: 3px; position: absolute; top: 15px; left: 65px; }

.top .firstMenu .fm:hover { border: 1px solid #ddd; border-top: none; border-bottom: none; box-shadow: 0 0 4px #ddd; }

.top .firstMenu .fm:hover .secondMenu { display: block; }

.top .firstMenu .fm:hover i { display: block; width: 51px; height: 4px; background-color: #fff; position: absolute; left: 0; bottom: 5px; z-index: 20; border: none; }

.top .firstMenu .fm:hover i.my { width: 77px; }

.top .firstMenu .fm img { position: absolute; top: 8px; left: 2px; }

header .search { margin: 22px 0; }

header .search .txt { position: relative; }

header .search .txt input { width: 338px; height: 33px; border: 1px solid #d51819; float: left; padding-left: 10px; font-size: 12px; }

header .search .txt em { background: url(img/Veo_mbshop_spirit_pic.png) no-repeat 0 -402px; display: block; width: 20px; height: 20px; position: absolute; left: 360px; top: 8px; }

header .search .txt span.text { display: inline-block; width: 45px; height: 35px; background-color: #d51819; color: #fff; line-height: 35px; text-align: center; cursor: pointer; folat: left; padding-left: 30px; }

header .search nav { height: 37px; line-height: 37px; }

header .search nav a { padding: 12px; font-size: 12px; }

header .shopping { margin: 28px 30px 22px 0; color: #000; font-size: 14px; position: relative; }

header .shopping span { color: #d51819; }

header .shopping em { background: url(img/Veo_mbshop_spirit_pic.png) no-repeat 0 -432px; display: block; width: 30px; height: 25px; position: absolute; top: -5px; left: -44px; }

.select { border-bottom: 1px solid #d51819; font-size: 16px; position: relative; }

.select .selectes { width: 188px; height: 44px; background-color: #d51819; color: #fff; line-height: 44px; padding-left: 48px; position: relative; }

.select .selectes em { background: url(img/Veo_mbshop_spirit_pic.png) no-repeat 0 -346px; display: block; width: 18px; height: 15px; position: absolute; top: 16px; left: 16px; }

.select .index { text-align: vertical; position: absolute; bottom: 2px; left: 330px; }

.select .index a { padding: 0 26px; color: #323232; font-weight: bold; }

.select .index a.active { position: relative; }

.select .index span { display: inline-block; width: 40px; height: 15px; border-radius: 10px; background-color: #d51819; color: #fff; font-size: 12px; line-height: 15px; text-align: center; position: absolute; top: -14px; }

.select .index span.hot { left: 130px; }

.select .index span.new { left: 350px; }

.select .index span.hongbao { left: 460px; }

.select .index span.secondHot { left: 590px; }

.select_all { border: 1px solid #d51819; width: 234px; position: relative; }

.select_all .menu { padding: 6px 1px 4px 12px; }

.select_all .menu:hover .subMenu { display: block; }

.select_all .menu:hover span { display: none; }

.select_all .menu a.title { float: left; color: #000; font-weight: bold; }

.select_all .menu span { float: right; color: #d51819; font-weight: bold; margin-right: 5px; }

.select_all .menu .content li { float: left; margin-right: 5px; margin-bottom: 4px; }

.select_all .menu .content li a.active { color: #d51819; }

.select_all .menu .subMenu { z-index: 30; display: none; background-color: #fff; position: absolute; left: 234px; top: -2px; border: 1px solid #ddd; border-top: 1px solid #d51819; width: 724px; height: 532px; }

.select_all .menu .subMenu em { display: block; background: url(img/Veo_mbshop_spirit_pic.png) no-repeat 0 -211px; width: 9px; height: 15px; position: absolute; top: 10px; left: -8px; }

.select_all .menu .subMenu em.menClothes { top: 90px; }

.select_all .menu .subMenu em.womenClothes { top: 160px; }

.select_all .menu .subMenu em.childrenClothes { top: 235px; }

.select_all .menu .subMenu em.shoes { top: 310px; }

.select_all .menu .subMenu em.bag { top: 385px; }

.select_all .menu .subMenu em.life { top: 440px; }

.select_all .menu .subMenu em.discount { top: 490px; }

.select_all .menu .subMenu .submenu_left { width: 183px; height: 532px; border-right: 1px solid #ddd; }

.select_all .menu .subMenu .submenu_left .hot { margin: 18px 0 0 15px; }

.select_all .menu .subMenu .submenu_left .hot h4 { color: #000; }

.select_all .menu .subMenu .submenu_left .hot h4:hover { color: #d51819; }

.select_all .menu .subMenu .submenu_left .hot .hotList a { margin-right: 16px; line-height: 28px; float: left; }

.select_all .menu .subMenu .submenu_right p { color: #000; font-weight: bold; margin: 22px 0 22px 14px; }

.select_all .menu .subMenu .submenu_right .pinpai { width: 540px; }

.select_all .menu .subMenu .submenu_right .pinpai a { line-height: 45px; margin-left: 14px; }

/*首页与详情页相同的脚部*/
.focus { border: 1px solid #dcdcdc; border-sizing: border-box; margin-top: 26px; }

.focus > li { float: left; border: 1px solid #dcdcdc; border-top: none; border-bottom: none; margin-right: -1px; }

.focus > li:first-child { border-left: none; }

.focus > li .server { background-color: #fafafa; }

.focus > li .server li { float: left; margin: 13px 0; padding: 0 22px 0 38px; border-right: 1px solid #dcdcdc; }

.focus > li .server li:last-child { border-right: none; }

.footer { margin-top: 40px; }

.footer .footer_title { background-color: #f7f7f7; height: 38px; line-height: 38px; border-top: 1px solid #dcdcdc; color: #231815; font-weight: bold; }

.footer .footer_title span { padding-right: 140px; }

.footer .msg { float: left; padding-right: 111px; positon: absolute; font-size: 12px; }

.footer .msg:first-child { padding-right: 135px; }

.footer .msg:last-child { padding-right: 0; padding-left: 20px; }

.footer .msg li { margin-top: 13px; }

.footer .msg a { color: #231815; }

.footer .shouhou { padding-left: 40px; }

.f_bottom { margin: 20px 0 18px 0; text-align: center; color: #787878; }

.f_bottom .copyRight { width: 1156px; border-top: 1px solid #999; }

.f_bottom p { padding: 22px 0 18px 0; font-weigth: bold; }

.slideBar span { cursor: pointer; }

.slideBar .visited { background: url(img/online_service.png); width: 55px; height: 55px; position: fixed; right: 0; top: 610px; }

.slideBar .top { background: url(img/Veo_mbshop_spirit_pic.png) no-repeat -14px -1064px; display: block; width: 28px; height: 80px; position: fixed; right: 15px; top: 500px; display: none; }

body { font-size: 12px; color: #222; }

.step { border-bottom: 1px solid #ccc; height: 28px; }

.step .steps { position: relative; }

.step .steps span { display: block; background: url(img/Veo_mbshop_spirit_pic.png) no-repeat 0 -1578px; width: 398px; height: 30px; position: absolute; right: 0; }

.tab { margin: 27px 0 30px 0; }

.tab strong { color: #000; font-size: 18px; }

.tab a { font-size: 14px; color: #f8584f; text-decoration: underline; }

.tab a:hover { color: #666; }

.cartTop .cartTitle { height: 40px; line-height: 40px; background-color: #f8f7f7; }

.cartTop .cartTitle li { float: left; color: #222; font-size: 12px; }

.cartTop .cartTitle li input { margin: 12px; cursor: pointer; }

.cartTop .cartTitle li.cartTitle01 { width: 126px; }

.cartTop .cartTitle li.cartTitle02 { width: 250px; }

.cartTop .cartTitle li.cartTitle03 { width: 208px; }

.cartTop .cartTitle li.cartTitle04 { width: 210px; }

.cartTop .cartTitle li.cartTitle05 { width: 177px; }

.cartTop .cartTitle li.cartTitle06 { width: 155px; }

.cartTop .cartTitle li.cartTitle07 { width: 74px; }

.data { margin-top: 20px; }

.data .cartTitle { background-color: #fdf6ee; height: 42px; line-height: 42px; border: 1px solid #ddd; }

.data .cartTitle .logoName input { margin: 12px; }

.data .cartTitle .send { margin-right: 40px; }

.data .cartList { border: 1px solid #ddd; border-top: none; padding-top: 15px; }

.data .cartList a { color: #222; }

.data .cartList a:hover { border-bottom: 1px solid #222; }

.data .cartList ul li { float: left; line-height: 20px; }

.data .cartList ul li input { margin: 12px; cursor: pointer; }

.data .cartList ul li.cart1 { width: 272px; position: relative; }

.data .cartList ul li.cart1 > a:hover { border: 0; }

.data .cartList ul li.cart1 .name { margin-left: 10px; display: inline-block; width: 144px; height: 90px; position: absolute; left: 90px; }

.data .cartList ul li.cart2 { width: 190px; text-align: center; }

.data .cartList ul li.cart3 { width: 200px; text-align: center; }

.data .cartList ul li.cart3 span::before { content: '￥'; }

.data .cartList ul li.cart3 .origin { color: #ccc; text-decoration: line-through; }

.data .cartList ul li.cart4 { width: 220px; text-align: center; }

.data .cartList ul li.cart4 .minus, .data .cartList ul li.cart4 .add { display: inline-block; width: 18px; height: 25px; line-height: 25px; text-align: center; border: 1px solid #dcdcdc; cursor: pointer; background-color: #f0f0f0; }

.data .cartList ul li.cart4 .number { display: inline-block; width: 50px; height: 25px; line-height: 25px; border: 1px solid #dcdcdc; text-align: center; cursor: pointer; }

.data .cartList ul li.cart5 { width: 180px; text-align: center; margin-left: -20px; }

.data .cartList ul li.cart5 span { color: #f8635b; font-weight: bold; }

.data .cartList ul li.cart5 span::before { content: '￥'; }

.cartFooter { margin-top: 30px; }

.cartFooter .account { background-color: #f7f7f7; height: 60px; line-height: 60px; font-size: 14px; }

.cartFooter .account p:not(:last-child) { margin: 0 10px; }

.cartFooter .account .handle p { float: left; }

.cartFooter .account .handle p input { margin-right: 12px; cursor: pointer; }

.cartFooter .account .handle p a { color: #222; }

.cartFooter .account .cost p { float: left; }

.cartFooter .account .cost p .num { color: #f8635b; font-size: 20px; margin: 4px; }

.cartFooter .account .cost p .footPrice::before { content: '￥'; }

.cartFooter .account .cost p .total { color: #f8635b; font-size: 20px; }

.cartFooter .account .cost p .total::before { content: '￥'; }

.cartFooter .account .cost p .sum { display: block; width: 144px; height: 60px; line-height: 60px; text-align: center; background-color: #f00; color: #fff; font-size: 24px; }
